body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* LOGIN BACKGROUND */
.login-body {
  background: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN BOX */
.login-container {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.login-container input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
}
.dashboard-button {
  width : auto;
  padding :10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
}
button.secondary {
  background: gray;
}

.note {
  font-size: 12px;
  margin-top: 10px;
}

/* DASHBOARD */
.dashboard-body {
  background: #f4f6f9;
}

header {
  background: #1f2a44;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
